.block.block-fill-height.app-block-wayne{:style => "background-image: url(#{image_url('tower_bg.jpg')})"}
  .block-sm-middle.block-xs-bottom
    .container
      .row
        .col-sm-5
          %h1.block-title.m-b-md
            %span.text-ribbon.text-ribbon-primary
              %span UTNIF 2017
          %p.lead
            %span.text-ribbon.text-ribbon-primary
              %span
                Rhetoric. Research. Reflexivity. Responsibility.
.block.block-inverse.block-transparent.p-y-0.app-block-grid
  .block-bg-clip
    .block-bg
      .block-bg-img
  #grid.container
    .row
      .col-lg-4.col-sm-6
        .row.m-b
          .col-lg-12
            .panel.panel-bold.panel-danger.m-b-0.app-box-shadow
              %img{:src => "#{image_url('camp_rs.jpg')}"}
              .panel-body.p-b-lg
                %h4.m-b-0 University of Texas National Institute in Forensics
                %p.text-serif
                  %em Registration opens January 2017
                %hr
                %p.text-serif
                  %em
                    For 25 years, the UTNIF has served the forensics communities of Texas and the nation. Tens of thousands of students have enjoyed learning and growing with us in Austin. Our proven program focuses on every aspect of competitive forensics: research, rhetoric and responsiblity.
        .row.m-b.hidden-xs
          .col-lg-12
            %img{:src => "#{image_url('lcotu_rs.jpg')}"}/
      .col-lg-8.col-sm-6
        .row
          .col-lg-6.m-b
            .app-box-shadow
              %img{:src => "#{image_url('toya_rs.jpg')}"}/
          .col-lg-6.m-b
            .app-box-shadow
              %img{:src => "#{image_url('teddy_rs.jpg')}"}/
        .row.hidden-xs
          .col-lg-12
            %img{:src => "#{image_url('must_have_rs.jpg')}"}/

#chainz.block.block-fill-height.block-transparent.block-angle.app-block-chainz
  .block-bg-clip
    .block-bg
      .block-bg-img.block-bg-img-top{:style => "background-image: url(#{image_url('aron_ground.jpg')})"}
  .block-sm-middle.block-xs-top
    .container
      .row
        .col-sm-5.col-sm-offset-7
          %h1.block-title.m-b-md
            %span.text-ribbon.text-ribbon-primary
              %span Work. And Play.
          %p.lead
            %span.text-ribbon.text-ribbon-primary
              %span
                Housed on the University of Texas at Austin campus, the UTNIF offers students access to an unparalleled classroom experience at a research one university. 
                
.block.block-fill-height.block-transparent.block-inverse.block-angle.app-block-kanye
  .block-bg-clip
    .block-bg
      .block-bg-img.block-bg-img-top{:style => "background-image: url(#{image_url('space_camp.jpg')})"}
  .block-xs-middle
    .container
      .row
        .col-sm-5
          %h1.block-title.m-b-md
            %span.text-ribbon
              %span Every Event.
          %p.lead
            %span.text-ribbon
              %span
                We have a dedicated pedagogical program, and staff, for every competitive event.


.block.block-transparent.block-fill-height.block-angle.block-app-mosdef
  .block-bg-clip
    .block-bg
      .block-bg-img.block-bg-img-top{:style => "background-image: url(#{image_url('survivors.jpg')})"}
  .block-xs-middle
    .container
      .row
        .col-sm-6.col-sm-offset-6
          %h1.block-title.m-b-md
            %span.text-ribbon.text-ribbon-primary
              %span A True Camp Experience
          %p.lead
            %span.text-ribbon.text-ribbon-primary
              %span
                Students live and work with their campmates; a fully magical and emersive experience. A living learning community

#pricing.block.block-fill-height.block-inverse.app-block-nicki{:style => "background-image: url(#{image_url('spiderhouse.jpg')})"}
  .block-xs-middle
    .container
      .row.m-b-md
        .col-lg-12
          %h1.block-title.m-b-md
            %span.text-ribbon
              %span Registration Begins 1/17
          %p.lead
            %span.text-ribbon.text-muted
              %span
                We are pre-registering students now.
        .row
        - @camps.each do |c|
          .col-sm-12.col-lg-6
            .panel
              .panel-body
                %h3.panel-title #{c.name}
                %h4.text-muted.text-serif.m-t-0.m-b
                  %em June 22nd - August 4th
                %p.text-serif.m-b
                  %em
                    A rigorous curriculum dedicated to skills development, research strategies, theoretical investigation and pracitcal application.
                %hr/
                %ul.iconlist.text-serif.m-b-md
                  %li
                    %span.icon.icon-check
                    %em Skills Workshops
                  %li
                    %span.icon.icon-check
                    %em Topic Research Workshops
                  %li
                    %span.icon.icon-check
                    %em Over 10 full debates
                %button.btn.btn-default.btn-square.btn-block.btn-lg Sign up for #{c.nickname}
        