#stage.aqs{:style => ""}
  .k.apb.b{:style => "background-image: url(#{image_url('tower_bg.jpg')})"}
    .apk.apg
      .e
        .c
          .gg
            %h1.apd.amf
              %span.dp.aqa
                %span UTNIF 2017
            %p.ak
              %span.dp.aqa
                %span
                  Rhetoric. Research. Reflexivity. Responsibility.
  .k.al.aoy.amu.d
    .aor
      .g
        .an
    #grid.e
      .c
        .ge.gk
          .c.ag
            .hk
              .sb.dq.sn.alr.arj
                %img{:src => "#{image_url('camp_rs.jpg')}"}
                .sc.anm
                  %h4.alr University of Texas National Institute in Forensics
                  %p.sx
                    %em Registration opens January 2017
                  %hr
                  %p.sx
                    %em6 
                      For 25 years, the UTNIF has served the forensics communities of Texas and the nation. Tens of thousands of students have enjoyed learning and growing with us in Austin. Our proven program focuses on every aspect of competitive forensics: research, rhetoric and responsiblity.

          .c.ag.vb
            .hk
              %img{:src => "#{image_url('lcotu_rs.jpg')}"}/
        .gu.gk
          .c
            .gm.ag
              .arj
                %img{:src => "#{image_url('toya_rs.jpg')}"}/
            .gm.ag
              .arj
                %img{:src => "#{image_url('teddy_rs.jpg')}"}/
          .c.vb
            .hk
              %img{:src => "#{image_url('must_have_rs.jpg')}"}/

  #chainz.k.apb.aoy.ape.f
    .aor
      .g
        .an.aos{:style => "background-image: url(#{image_url('aron_ground.jpg')})"}
    .apk.apf
      .e
        .c
          .gg.ke
            %h1.apd.amf
              %span.dp.aqa
                %span Work. And Play.
            %p.ak
              %span.dp.aqa
                %span
                  Housed on the University of Texas at Austin campus, the UTNIF offers students access to an unparalleled classroom experience at a research one university. 
                  
  .k.apb.aoy.al.ape.h
    .aor
      .g
        .an.aos{:style => "background-image: url(#{image_url('space_camp.jpg')})"}
    .aph
      .e
        .c
          .gg
            %h1.apd.amf
              %span.dp
                %span Every Event.
            %p.ak
              %span.dp
                %span
                  We have a dedicated pedagogical program, and staff, for every competitive event.
        .c.ah
          .gs
            .so.sq

  .k.aoy.apb.ape.i
    .aor
      .g
        .an.aos{:style => "background-image: url(#{image_url('survivors.jpg')})"}
    .aph
      .e
        .c
          .gg.ke
            %h1.apd.amf
              %span.dp.aqa
                %span A True Camp Experience
            %p.ak
              %span.dp.aqa
                %span
                  Students live and work with their campmates; a fully magical and emersive experience. A living learning community

  #pricing.k.apb.al.j{:style => "background-image: url(#{image_url('spiderhouse.jpg')})"}
    .aph
      .e
        .c.amf
          .gi
            %h1.apd.amf
              %span.dp
                %span Registration Begins 1/17
            %p.ak
              %span.dp.am
                %span
                  We are pre-registering students now.
        .c
          .gc
            .sb
              .sc
                %h3.se Policy Debate
                %h4.am.sx.alp.ag
                  %em June 22nd - August 4th
                %p.sx.ag
                  %em
                    A rigorous curriculum dedicated to skills development, research strategies, theoretical investigation and pracitcal application.
                %hr/
                %ul.aqf.sx.amf
                  %li
                    %span.a.xy
                    %em Skills Workshops
                  %li
                    %span.a.xy
                    %em Topic Research Workshops
                  %li
                    %span.a.xy
                    %em Over 10 full debates
                %button.dl.oq.anz.btn-block.ao Sign up for CX
          .gc
            .sb.arl
              .sc
                %h3.se Lincoln-Douglas Debate
                %h4.ew.sx.alp.ag
                  %em July 18th - August 1st
                %p.sx.ag
                  %em
                    An invaluable and intense educational environment at one of the most affordable prices in the country.
                %hr/
                %ul.aqf.sx.amf
                  %li
                    %span.a.xy
                    %em Skills Workshops
                  %li
                    %span.a.xy
                    %em Topic Research Workshops
                  %li
                    %span.a.xy
                    %em Over 10 full debates
                %button.dl.ot.anz.btn-block.ao Sign up for LD
          .gc
            .sb
              .sc
                %h3.se Public Forum Debate
                %h4.am.sx.alp.ag
                  %em June 29th - July 11th
                %p.sx.ag
                  %em
                    Designed for students of all skill levels. All students will participate in many practice speeches and practice debates.
                %hr/
                %ul.aqf.sx.amf
                  %li
                    %span.a.xy
                    %em Skills Workshops
                  %li
                    %span.a.xy
                    %em Topic Research Workshops
                  %li
                    %span.a.xy
                    %em Over 10 full debates
                %button.dl.oq.anz.btn-block.ao Sign up for PF
