%h1 Upcoming events
%p.notice


= month_calendar events: @events do |date,events|
  .date{id: date, style: "height:100px;width:100px;overflow:hidden",data:{startTime:'',endTime:'',date:date}}
    -if(defined? params && date.month == params.fetch('start_date').to_date.month)
      = date.day.to_s(:short)
    -else
      = date.to_s(:short)

    .date-events
      - events.each do |event|
        .event{data:{startTime:'',endTime:''},class:"#{event&.camp&.print_class_name || "camp-wide"}"}
          = event.name 

%table.table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to 'Show', admin_event_url(event)
        %td= link_to 'Edit', edit_admin_event_path(event)
        %td= link_to 'Destroy', admin_event_url(event), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_admin_event_path
:css
  .prev-month, .next-month{
    opacity:0.5;
  }