%h1 Register a New UTNIF'er!

=# render 'form'

= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg

  %h2 Welcome to the new UTNIF signup form. We're going to collect just a little bit of information about you, and we'll have you on your way very shortly!
  %p
    .form-inline
      Which camp are you signing up for?
      = f.select :camp, options_from_collection_for_select(@camps, "id", "name", "1"),{}, {class: 'c-select',id: 'csdd'}
    .form-group
      = fields_for :account, @student.account do |ff|
        = ff.text_field :first_name, {placeholder: 'Whats your first name?',class:'col-xs-2 form-inline',type:'text'}
        = ff.text_field :last_name, {placeholder: 'and your last name?',class:'form-inline col-xs-2',type:'text'}
        Do you have a middle name you'd like us to know about?
        = ff.check_box :middle_name


  .actions
    = f.submit 'Save'



= link_to 'Back', root_path
