.block.app-block-primary{:style => "background-image: url(#{image_url(@camp.glossy.url)})"}
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon{class:"text-ribbon-#{@camp.nickname.downcase}"}
            %span
              = @camp.name
          %p.lead
            %span.text-ribbon{class:"text-ribbon-#{@camp.nickname.downcase}"}
              %span 
                =@camp.info.html_safe
- @camp.programs.each do |p|
  %div{:class => cycle('block block-inverse','block')}
    .container
      .row
        .col-xs-12
          %h3
            %span
              = p.name
          %p.lead
            %span
              = simple_format(p.info)

          %p
            %span
              Begins
              = p.start_date.strftime("%B %d, %Y")
              &amp; Ends
              = p.end_date.strftime("%B %d, %Y")
          =link_to "Sign Up for #{p.nickname}", p.old_link, {class:'btn btn-square btn-primary sign-up-link-btn'}