.block.app-block-primary{:style => "background-image: url(#{image_url(@camp.glossy.url)})"}
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon{class:"text-ribbon-#{@camp.nickname.downcase}"}
            %span
              = @camp.nickname
              Staff
.block-inverse.block-fill-height
  %ul.staff
    - @employees.each do |e|
      %li{style:"background-image:url(#{image_url(e.avatar.url)})"}
        .staff-member
          %h2.staff-name.panel-title.text-serif
            %em
              = e.account.first_name
              = e.account.last_name
          .biog
            %span.text-serif
              = e.bio
