= form_for [:admin,@employee] do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  = fields_for :account  do |ff|
    .form-group.row
      = ff.label "First Name", {class:"col-sm-2 control-label"}
      .col-sm-10
        = ff.text_field :first_name, {class:"form-control"}
    .form-group.row
      = ff.label "Middle Name", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :middle_name, {class:"form-control"}
    .form-group.row
      = ff.label "Last Name", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :last_name, {class:"form-control"}
    .form-group.row
      = ff.label "Cell Phone", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.telephone_field :cell_phone, {class:"form-control"}
    .form-group.row
      = ff.label "Cell Carrier", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.select :carrier, carriers,{include_blank:"Landline/Do Not Text Me"} ,{class:"custom-select"}
    .form-group.row
      = ff.label "Address", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :address1, {class:"form-control"}
    .form-group.row
      = ff.label "Address Line 2", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :address2, {class:"form-control"}
    .form-group.row
      = ff.label "City", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :city, {class:"form-control"}
    .form-group.row
      = ff.label "State", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.select :state, states, {}, class:"custom-select"
    .form-group.row
      = ff.label "Zip", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.text_field :zipcode, {class:"form-control"}
    .form-group.row
      = ff.label "Birthday", {class:"col-sm-2 col-form-label"}
      .col-sm-10
        = ff.date_field :birthday, {class:"form-control"}
  .form-group.row
    = f.label "Curriculum", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.select :camp_id, Camp.all.collect {|c| [ c.name, c.id ] }, {}, {class:"custom-select"}
  .form-group.row
    = f.label "Quick Biography", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.text_area :bio, {class:"form-control",rows:'3'}
  .form-group.row
    = f.label "Relevant Experience", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.text_area :experience, {class:"form-control",rows:'3'}
  .form-group.row
    = f.label "Any References?", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.text_area :references, {class:"form-control",rows:'3'}
  .form-group.row
    = f.label "A Picture!", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.file_field :avatar, {id: 'employee_avatar',capture: "camera"}
      = f.label :avatar do
        .pic
          .bg.img-thumbnail{style: "background-image:url(#{image_url(@employee.avatar.url(:thumb))});background-size:200px;"}
          .overlay
            %h3 Upload an image!        

  .form-group.row
    = f.label "Pronouns?", {class:"col-sm-2 col-form-label"}
    .col-sm-10
      = f.text_field :pronouns, {class:"form-control"}
  .form-group.row
    - if @employee.eid?
      = f.label :eid,"UT EID", {:class =>"col-sm-2 col-form-label"}
    - else
      = f.label :eid,"UT EID", {:class =>"col-sm-2 col-form-label", :data=>{'toggle' => 'tooltip', 'html'=>"true"}, :title=>"Get an EID at <a href=\"https://idmanager.its.utexas.edu/eid_self_help/?geid=\" target=\"blank\">UT</a>"}
    .col-sm-10
      = f.text_field :eid, {class:"form-control"}
  .form-group.row
    = f.label "Summer Availability?", {class:"col-form-label col-sm-2"}
    .col-sm-10.form-inline
      = f.label "Available From:"
      = f.date_field :arrival_date, {class:"form-control"}
      = f.label "until:"
      = f.date_field :leave_date, {class:"form-control"}

  .actions.row
    = f.submit 'Save', {class:"btn btn-info btn-square"}

