%h1 Listing All Employees
= link_to "Current Employees", admin_hired_employees_path, {class:"btn btn-info btn-lg btn-square"}
= link_to "Potential Employees", admin_not_hired_employees_path, {class:"btn btn-info btn-lg btn-square"}
%table.table
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Camp
      -#th Lab
      %th 
      %th
      %th
      %th
      %th

  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.account ? employee.account.last_name : "you done goofed - employee has no account"
        %td= employee.account ? employee.account.first_name : ""
        %td= employee.camp ? employee.camp.nickname : "no camp yet"
        -#td= employee.program ? employee.program.nickname : "no lab yet"
        %td= link_to 'Edit', edit_admin_employee_path(employee)
        %td{class:"hired-#{employee.id}"}
          - ad = employee.is_hired ? ["Deactivate","btn-warning"] : ["Activate","btn-info"]
          = link_to "#{ad[0]} employee", admin_hire_employee_path(employee.id), {method: :post, remote: true, class:"btn btn-square #{ad[1]}"}

%br

= link_to 'New Employee', new_admin_employee_path