= form_for [:admin,@post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
  .row
    %span.text-ribbon.text-ribbon-info.col-xs-12
      %span
        = f.text_field :title, {class:'col-xs-10',placeholder:'Post Title'}
  .row
    %span.text-ribbon.text-ribbon-info.col-xs-12
      %span  
        = f.text_area :body, {class:'col-xs-10',placeholder:'Write your post here!',rows:'6'}
  .row
    %span.text-ribbon.text-ribbon-info.col-xs-12
      %span
        Publish?
        = f.check_box :published, {}, :true, :false

  .actions.row.m-t.m-l
    = f.submit "submit form", {class:'btn btn-info btn-square'} 