= form_for [:admin, @camp] do |f|
  - if @camp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@camp.errors.count, "error")} prohibited this camp from being saved:"
      %ul
        - @camp.errors.full_messages.each do |msg|
          %li= msg
      #input

  .form-group.row
    = f.label :name, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_field :name, {'class'=>'form-control'}
  
  .form-group.row
    = f.label :info, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_area :info, {'rows'=>'3','class'=>'form-control'}
  
  .form-group.row
    = f.label :nickname, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_field :nickname, {'class'=>'form-control'}
  .form-group.row
    = f.label "Short staff page blurb", {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_field :staff_blurb, {'class'=>'form-control'}

  .form-group.row
    = f.label :start_date, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_field :start_date, {'type' => 'date','class'=>'form-control'}

  .form-group.row
    = f.label :end_date, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.text_field :end_date, {'type' => 'date','class'=>'form-control'}

  .form-group.row
    = f.label :glossy, {'class'=>'col-xs-2 col-form-label'}
    .col-xs-10
      = f.file_field :glossy, {'type' => 'file','class'=>'form-control'}

  = f.fields_for :oblique, OpenStruct.new(f.object.oblique) do |o|

    .form-group.row
      = o.label "Homepage Sales Pitch", {'class'=>'col-xs-2 col-form-label'}
      .col-xs-10
        = o.text_field :main, {'class'=>'form-control'}
    .form-group.row
      = o.label "Short Benefit 1", {'class'=>'col-xs-2 col-form-label'}
      .col-xs-10
        = o.text_field :one, {'class'=>'form-control'}
    .form-group.row
      = o.label "Short Benefit 2", {'class'=>'col-xs-2 col-form-label'}
      .col-xs-10
        = o.text_field :two, {'class'=>'form-control'}
    .form-group.row
      = o.label "Short Benefit 1", {'class'=>'col-xs-2 col-form-label'}
      .col-xs-10
        = o.text_field :three, {'class'=>'form-control'}



  .actions
    = f.submit 'Save', {'class'=>'btn btn-primary','type'=>'submit'}