#sidebar.stage-shelf.hidden
  .nav.flex-column
    %small.nav-header UTNIF
    = link_to 'Home', root_path, {"data-target" => "#stage", "data-toggle" => "stage", "class" => "nav-link"}
    = link_to '/news',{"data-target" => "#stage", "data-toggle" => "stage", "class" => "nav-link"} do
      News
      - u = unread_blog_posts
      - if u && u != ""
        %span.label.label-info
          = u
    .dropdown-divider
    %small.nav-header USER
    = render 'layouts/login_info'
    .dropdown-divider
    %small.nav-header CAMPS
    = render partial: 'layouts/camp', collection: @camps, cached: true
    .dropdown-divider
    %small.nav-header ABOUT
    =link_to "FAQ - For Parents", faq_url, {class: 'nav-link',data:{target:"#stage",toggle: "stage"}}
    %a{class:'nav-link',href:'#',target:"#stage",toggle: "stage"} 
      About UTNIF
