!!! 5
%html
  %head
    %title utnif
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ :charset => "UTF-8" }
    = favicon_link_tag
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ribeye", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :plain
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <![endif]-->

  %body
    %nav.navbar.navbar-dark.bg-inverse.navbar-static-top
      =link_to "utnif", root_path, {class:'navbar-brand',id:'navbar-brand'}
      %button.navbar-toggler.hidden-md-up{'type'=>'button','data-toggle'=>'collapse','data-target'=>'navbarCollapse','aria-controls'=>'navbarCollapse','aria-expanded'=>'false','aria-label'=>'Toggle Navigation'}
        &#9776;
      .collapse.navbar-toggleable-md#navbarCollapse
        = render 'layouts/login_info'

    .container
      - flash.each do |type, message|
        .alert.alert-dismissable{ :class => twitterized_type(type) }
          = message
          %button.close{ data: { dismiss: 'alert' } } x

    %section#content.container-fluid
      .row-fluid
        .span12
          = yield