%h1.block-title.m-b-md
  %span.text-ribbon.text-ribbon-primary 
    %span Register

.m-l-md
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .form-group.row
      = f.label "Email Address", {class:"col-xs-6 col-form-label"}
      .col.xs-10
        = f.email_field :email, {autofocus:true, class:"form-control"}
    .form-group.row
      = f.label "Password", {class:"col-xs-6 col-form-label"}
      .col.xs-10
        = f.password_field :password, {autocomplete:"off",class:"form-control"}
    .form-group.row
      = f.label "Password Confirmation", {class:"col-xs-6 col-form-label"}
      .col.xs-10.m-b-md
        = f.password_field :password_confirmation, {autocomplete:"off",class:"form-control"}
    .actions
      = f.submit "Sign Up", {class:'btn btn-square btn-primary btn-lg col-sm-2 align-right text-white'}

-# link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, {class:'btn btn-square btn-primary btn-lg btn-block'}
-# ///    <div class="block-xs-middle">
-#       <div class="container">
-#         <div class="row">
-#           <div class="col-sm-6 col-sm-offset-6">
-#             <h1 class="block-title m-b-md">
-#               <span class="text-ribbon text-ribbon-primary">
-#                 <span>Sign up now.</span>
-#               </span>
-#             </h1>

-#             <div class="text-ribbon-inputs-split">
-#               <input type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="Name">
-#               <input type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="Email">
-#             </div>
-#             <input type="text" class="h4 text-ribbon-input text-ribbon-input-half text-ribbon-primary" placeholder="Promo code">
-#             <button type="button" class="btn btn-square btn-primary btn-lg btn-block">
-#               Get the beta early
-#             </button>
-#           </div>
-#         </div>
-#       </div>
-#     </div>
-#   </div>
